* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  color: white;
  font-family: georgia, serif;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  
}
body {
  font-family: 'montseratt', sans-serif;
}

.app-bghot {
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: cover;
  background-position: bottom;
}

.app-bgcold {
  background-image: linear-gradient(to bottom right, blue, cyan);
  background-size: cover;
  background-position: bottom;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 25%;
  padding: 15px;
  margin: auto;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  margin-top: 5px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5)
}

.location-box .date {
  color: #FFF;
  font-size: 24px;
  font-family: Georgia, serif;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  
}

.icons{
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 50px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}